body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  user-select: none;
}

@keyframes rot-hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

.animate-hue {
  animation: rot-hue 1s ease-in 0ms infinite;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

::selection {
  background: #008055aa;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: #00805511;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #008055aa;
  border-radius: 8px;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #008055bb;
}
